body {
  background: rgba(230, 230, 230, 0.95);
  background-color: transparent;
  text-align: center;
  margin-top: 100px;
}

.global-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  height: 48px;
  background: rgba(45, 45, 45, 0.98);
  font-size: 17px;
}

.nav-link-text {
  color: white;
  text-decoration: none;
}

.nav-link-text:hover {
  color: #ccc;
}

.nav-list {
  margin: 0 auto;
  top: 10px;
  vertical-align: middle;
  color: white;
  position: relative;
  z-index: 1;
  display: inline-block;
  list-style: none;
}

.compare-iphone-models-header {
  text-align: center;
  color: #111;
  font-family: "Roboto";
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.009em;
}

.iphone-compare-model-column {
  display: inline-block;
  width: 33%;
  text-align: left;
}

.iphone-compare-model-column li {
  text-indent: -1em;
  margin-bottom: 12px;
  padding-left: 8px;
  padding-right: 30px;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
}

.column-content {
  background-color: #f7f7f7;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 7px;
  border-radius: 8px;
}

.compare-iphone-model-header {
  font-size: 32px;
  font-weight: bold;
  margin: 50px auto;
  font-family: "Roboto";
  color: black;
}

.content-header {
  text-align: center;
}

.phone-model-row {
  margin: 7px;
}

.learn-more-list {
  list-style: none;
  margin-top: 25px;
  margin-left: 10px;
  display: block;
  text-align: left;
}

.learn-more-list li::before {
  content: "\002022";
  color: #888;
  padding-right: 0.5em;
  font-weight: 700;
  position: relative;
  top: -1px;
}

img {
  margin-top: 100px;
  margin: 0 auto;
  display: block;
  height: 222px;
  margin-bottom: 32px;
  background-position: bottom center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.button {
  background: #dba9d4;
  padding: 1em 2em;
  color: white;
  border: 0;
  font-size: 17px;
}

.button:hover {
  background: #be83b7;
}

.modal {
  display: none;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow: auto;
  height: 100%;
  width: auto;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
  /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3); */
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.modal-content {
  background-color: white;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 0.5s;
  padding: 50px;
}

.modal-header h2,
.modal-header h3 {
  margin: 0;
}

.modal-header {
  font-family: "Roboto";
  padding: 50px;
  font-size: 28px;
  color: black;
  text-align: center;
}

.closeBtn {
  color: #ccc;
  font-size: 60px;
  float: left;
  top: -50px;
  left: -30px;
  position: relative;
  /* display: inline-block; */
  font-style: normal;
  font-weight: inherit;
  line-height: 1;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .modal {
    margin-left: 5%;
    margin-right: 5%;
  }

  .iphone-compare-model-column {
    width: 300px;
    margin: 0 auto;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
  .iphone-compare-model-column {
    width: 40%;
  }

  .modal {
    margin-left: 5%;
    margin-right: 5%;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
