body {
  background: white;
}
.main-content {
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Roboto';
}

.iphone-compare-model-columns {
  display: inline-block;
  width: 33%;
}

.column-content {
  background-color: #f7f7f7;
  padding: 7px;
  margin: 7px;
  border-radius: 8px;
}

.wrapper {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: auto;
}

.compare-iphone-model-header {
  font-size: 32px;
  font-weight: bold;
  margin: 50px auto;
  font-family: 'Roboto';
  color: black;
}

.content-header {
  text-align: center;
}


.phone-model-row {
  margin: 7px;
}

.learn-more-list {
  list-style: none;
  margin-top: 25px;
  margin-left: 10px;
  text-align: center;
  padding: 0;
  display: none;
}

.clicked {
  display: block;
}


.wrapper li {
  text-align: left;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif ;
}

li::before {
    content: "\002022";
    color: #888;
    padding-right: 0.5em;
    font-weight: 700;
    position: relative;
    top: -1px;
}

.wrapper img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.learn-more-phone-button {
  padding: 7px;
  box-shadow: 0 1px 2px #888888;
  background: #c6edfa;
  border-radius: 5px;
  font-weight: bold;
}

.learn-more-phone-button:hover {
  background: #8ae2ff;
}

.in-learn-more {
  border: 1px solid red;
  display: block;
}







@media screen and (max-width: 600px){
  /* mobile */
  .iphone-compare-model-columns {
    width: 100%;
  }
  img {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  /* tablet */
  .iphone-compare-model-columns {
    width: 40%;
  }
  img {
    width: 80%;
  }
}