body {
  background: rgba(230, 230, 230, 0.95);
  background-color: transparent;
  text-align: center;
  margin-top: 100px;
}

.compare-iphone-models-header {
  text-align: center;
  color: #111;
  font-family: "Roboto";
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.009em;
  /* z-index: 0; */
}

.iphone-compare-model-column {
  display: inline-block;
  width: 33%;
  text-align: left;
}

.iphone-compare-model-column li {
  text-indent: -1em;
  margin-bottom: 12px;
  padding-left: 8px;
  padding-right: 30px;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
}

.column-content {
  background-color: #f7f7f7;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 7px;
  border-radius: 8px;
}

.compare-iphone-model-header {
  font-size: 32px;
  font-weight: bold;
  margin: 50px auto;
  font-family: "Roboto";
  color: black;
}

.content-header {
  text-align: center;
}

.phone-model-row {
  margin: 7px;
}

.learn-more-list {
  list-style: none;
  margin-top: 25px;
  margin-left: 10px;
  display: block;
  text-align: left;
}

.learn-more-list li::before {
  content: "\002022";
  color: #888;
  padding-right: 0.5em;
  font-weight: 700;
  position: relative;
  top: -1px;
}

img {
  margin-top: 100px;
  margin: 0 auto;
  display: block;
  height: 222px;
  margin-bottom: 32px;
  background-position: bottom center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.button {
  background: #dba9d4;
  padding: 1em 2em;
  color: white;
  border: 0;
  font-size: 17px;
  z-index: 0;
}

.button:hover {
  background: #be83b7;
}

.closeBtn {
  color: #ccc;
  font-size: 60px;
  float: left;
  top: -50px;
  left: -30px;
  position: relative;
  /* display: inline-block; */
  font-style: normal;
  font-weight: inherit;
  line-height: 1;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
