.main-content {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}


.iphone-compare-model-columns {
  text-align: center; 
  width: 33%;
  display: inline-block;
}

.column-content {
  background-color: #f7f7f7;
  padding: 7px;
  margin: 7px;
  border-radius: 8px;
}

.compare-iphone-model-header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.content-header {
  text-align: center;
}


.phone-model-row {
  margin: 7px;
}

ul li {
  text-align: left;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif ;
}

ul {
  margin-top: 25px;
  margin-left: 10px;
  text-align: center;
  padding: 0;
}

img {
  max-width: 80%;
  max-height: 80%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
  }
}
